<a href="https://colab.research.google.com/github/arshad-huh/100days_python_practice/blob/main/1_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a function greet(name) that takes a name as input and prints a greeting message like "Hello, [name]!".

In [3]:
def greet(name):
  print("Hello, " + name + "!")

greet("Arshad")

Hello, Arshad!

Write a function is_even(num) that takes an integer num as input and returns True if num is even, otherwise False.

In [4]:
def is_even(num):
  if num % 2 == 0:
    return True
  else:
    return False

print(is_even(4))
print(is_even(5))

True
False

Write a function add(a, b) that takes two numbers a and b as input and returns their sum.

In [5]:
def add(a,b):
  return a + b

print(add(3, 5))

8

Write a function max_of_three(a, b, c) that takes three numbers as input and returns the maximum of the three.

In [7]:
def max_of_3(a, b, c):
  if a >= b and a >= c:
    return a
  elif b >= a and b >= c:
    return b
  else:
    return c

print(max_of_3(2, 3, 1))

3

Write a function reverse_list(lst) that takes a list lst as input and returns the reversed list.

In [8]:
def reverse_list(lst):
  return lst[::-1]

print(reverse_list([2,3,4,5,6,7,8,9,0]))

[0, 9, 8, 7, 6, 5, 4, 3, 2]

Write a function count_words(sentence) that takes a string sentence as input and returns the count of words in the sentence.

In [9]:
def count_words(sentence):
  words = sentence.split(" ")
  return len(words)

print(count_words("My name is Arshad Ahmad."))

5

Write a recursive function fibonacci(n) that returns the nth Fibonacci number.
Hint: The Fibonacci sequence starts with 0 and 1, where each subsequent number is the sum of the previous two (e.g., 0, 1, 1, 2, 3, 5, ...).

In [12]:
def fibonacci(n):
  if n == 0:
    return 1
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(5))

8

Write a function is_prime(num) that takes an integer num as input and returns True if num is a prime number, otherwise False.
Hint: A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.

In [31]:
def is_prime(num):
    if num <= 1:
        return False


    for i in range(2, num):
        if num % i == 0:
            return False

    return True


result = is_prime(23)
print("Is 5 prime?", result)

Is 5 prime? True

In [32]:
#  However, note that for larger numbers, this approach can be optimized further
# (e.g., by only iterating up to the square root of num)

def is_prime(num):
    if num <= 1:
        return False


    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False

    return True


result = is_prime(23)
print("Is 5 prime?", result)

Is 5 prime? True

Write a function flatten_list(nested_list) that takes a nested list nested_list as input and returns a flattened list (i.e., a list containing all elements from nested lists in a single level).

In [36]:
def flatten_list(nested_list):

  f_list = []

  for x in nested_list:

    if isinstance(x, list):
      f_list.extend(x)

    else:
      f_list.append(x)

  return f_list

lst = [[1,2,3],[4,5,6], 23, 54, [23,45], 0]
print(flatten_list(lst))

[1, 2, 3, 4, 5, 6, 23, 54, 23, 45, 0]

Write a function find_duplicates(lst) that takes a list lst as input and returns a list of unique elements that have duplicates in the original list.

In [38]:
def find_duplicates(lst):

  dup = []
  once = []

  for x in lst:

    if x in once:
      dup.append(x)
    else:
      once.append(x)

  return dup

listx = [1,2,3,3,4]
print(find_duplicates(listx))

[3]

Write a function count_occurrences(lst) that takes a list lst as input and returns a dictionary where keys are elements from the list and values are their corresponding counts (number of occurrences) in the list.

In [39]:
def count_occurances(lst):
  counts = {}
  for item in lst:
    if item in counts:
      counts[item] += 1
    else:
      counts[item] = 1
  return counts

listx = [1,1,1,2,3,3]
print(count_occurances(listx))

{1: 3, 2: 1, 3: 2}