<a href="https://colab.research.google.com/github/arshad-huh/100Days-Python-Practice/blob/main/3_func_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### High Order Function

Write a Python program to combine two lists element-wise using zip and calculate the product of corresponding elements.

In [13]:
list1 = [1,2,3,4,5]
list2 = [5,4,3,2,1]

zipped_list = list(zip(list1,list2))

prod_list = []
for x,y in zipped_list:
  prod_list.append(x*y)

print(prod_list)

[5, 8, 9, 8, 5]

Write a Python program to convert a list of strings into uppercase using map and a lambda function.

In [14]:
list_str = ["Hello", "World","huh"]

upper_list = list(map(lambda x: x.upper(), list_str))

print(upper_list)

['HELLO', 'WORLD', 'HUH']

Write a Python program to filter out even numbers from a list using filter and a lambda function.

In [4]:
list1 = [1,2,3,4,5,6,7,8,9,0]

filtered_even = list(filter(lambda x: x%2==0 and x!=0,list1))
filtered_even

[2, 4, 6, 8]

Write a Python program to compute the element-wise sum of two lists using map and zip.

In [8]:
listx = [1,2,3,4,5]
listy = [5,4,3,2,1]

sum_elem = list(map(lambda x:x[0]+x[1] , zip(listx,listy)))
sum_elem

[6, 6, 6, 6, 6]

Write a function sum_numbers that takes a variable number of arguments and calculates the sum of all the numbers passed as arguments.

In [2]:
def sum_numbers(*args):
  return sum(args)

print(sum_numbers(1,2,3,4,5,6,7,8,9))

45

Write a function concatenate_strings that accepts any number of strings as keyword arguments (**kwargs) and concatenates them with a specified separator.

In [1]:
def concatenate_strings(sep=", ", **kwargs):
  return sep.join(kwargs.values())

print(concatenate_strings(d="Hakuna", g="Matata", o="!", sep="-"))

Hakuna-Matata-!

Write a function product_numbers that accepts a required first number and any number of additional numbers (*args) as arguments, and returns the product of these numbers.

In [6]:
def product_numbers(first_num,*args):
  prod = 1
  if args:
    for i in args:
      prod = prod*i
    return prod*first_num
  else:
    return first_num

print(product_numbers(8))
print(product_numbers(8,2,4,5,6,7))

8
13440

Write a function filter_odd_numbers that accepts a list of numbers and additional keyword arguments (**kwargs). It should return a filtered list containing only odd numbers if the only_odd argument is True.

In [7]:
def filter_odd_nums(lst, **kwargs):
  if kwargs.get("only_odd") == True:
    return [x for x in lst if x%2 !=0]
  else:
    return lst

print(filter_odd_nums([1,2,3,4,5,6,7,8,9], only_odd=True))

[1, 3, 5, 7, 9]

Write a function count_vowels that accepts a string and counts the occurrences of each vowel (a, e, i, o, u) using keyword arguments (**kwargs).

In [12]:
def count_vowels(string, **kwargs):
  vowels = ["a","e","i","o","u"]
  dict = {vowel: string.lower().count(vowel) for vowel in vowels}
  return dict

print(count_vowels("My name is Arshad."))

{'a': 3, 'e': 1, 'i': 1, 'o': 0, 'u': 0}