<a href="https://colab.research.google.com/github/arshad-huh/100Days-Python-Practice/blob/main/8_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python function to find the second smallest number in a list of integers.

In [1]:
def second_smallest(lst):
  sorted_list = sorted(set(lst))
  return sorted_list[1]

print(second_smallest([2,2,5,5,7,8,3,5]))

3

Write a Python program to reverse a tuple.

In [2]:
def reverse_tuple(t):
  return t[::-1]

print(reverse_tuple((1,2,3,4,4,5)))

(5, 4, 4, 3, 2, 1)

Write a Python function to find the key with the maximum value in a dictionary.

In [3]:
def max_key_value(d):
  return max(d, key=d.get)

dic = {'a': 10, 'b': 50, 'c': 20}
print(max_key_value(dic))

b

Write a Python function to check if two strings are anagrams of each other.

In [4]:
def are_anagrams(str1, str2):
  return sorted(str1) == sorted(str2)

s = "listen"
e = "silent"
print(are_anagrams(s,e))

True

Write a Python program to find the intersection of two frozensets.

In [5]:
def intersection_fset(f1,f2):
  return f1 & f2

a = frozenset([1,2,2,2,3,4,5,6,7])
b = frozenset([2,3,4])

print(intersection_fset(a,b))

frozenset({2, 3, 4})

 Write a Python function to find the kth smallest element in a list of integers without sorting the list.

In [8]:
def kth_smallest(lst, k):

  if not lst or k < 1 or k > len(lst):
    return None
  else:
    return sorted(set(lst))[k-1]

print(kth_smallest([0,9,8,7,6,5,4,3,2,1],6))

5

 Write a Python program to merge two tuples into a single sorted tuple.

In [12]:
def merge_sorted_tuple(t1,t2):
  t = t1 + t2
  return tuple(sorted(t))

print(merge_sorted_tuple((1,2,3,4,5),(5,4,3,2,1)))

(1, 1, 2, 2, 3, 3, 4, 4, 5, 5)

Write a Python function to invert a dictionary (swap keys and values).

In [14]:
def invert_dic(d):
  d1 = {k:v for v,k in d.items()}
  return d1

d = {'a': 1, 'b': 2, 'c': 3}
print(invert_dic(d))

{1: 'a', 2: 'b', 3: 'c'}

Write a Python program to check if one set is a subset of another set.

In [15]:
def is_subset(set1, set2):
    return set1.issubset(set2)

set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
print(is_subset(set_a, set_b))

True

In [18]:
def is_subset(set1, set2):
  if (set2 - set1) == (set2^set1):
    return True
  else:
    return False

set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
print(is_subset(set_a, set_b))

True